body {
  background-color: mediumaquamarine;
  color: teal;
  font-family: arial, helvetica, sans-serif;
  margin: 10px 20px 10px 20px;
}

h1, h2{
  color: crimson;
  font-size: 36px;
}

p, li {
  color: darkcyan;
  font-size: 20px;
}

h1, h2{
  text-align:center;
}

a {
  color: lightseagreen;
}

ul{
  list-style-type: square;
}

#header {
  border: 2px solid teal;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
}

#bio {
  padding-bottom: 75px;
  border-bottom: 1px solid teal;

}

#image3{
  padding-right: 25px;
  border-radius: 50%;
  float:left;

}

.content {
  padding: 15px 50px 15px 50px;
}

.images{
  width:auto;
  margin:20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}

/*#navigation a {
  float: right;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  text-decoration: none;
}*/
